*{
	margin: 0;
	padding: 0;
}

body{
	text-align: left;
	font-weight: 400;
	font-family: 'Trebuchet MS';
	color: #333333;
}

.contener-width{
	width: 936px;
	margin: auto;
}

.cleared{
	clear: left;
}


.font-red{
	color: #dc5047;
}

.font-gray{
	color: #a5a5a5;
	text-decoration: line-through;
}


.font-type1{
	font-size: 14.3px;
}


.font-type2{

	font-size: 18.7px;
}


.font-type3{
	font-size: 21.3px;
}

.font-type24{
	font-size: 24px;
}

.top-head{
	background-color: #f6f6f6;
	height: 48px;
}

.top-head a{
	font-size: 16px;
	
	line-height: 13px;
	display: inline-block;
	text-decoration: none;
}

.top-head-left{
	float: left;
}

.top-head-right{
	float: right;
}

.bottom-head{
	height: 168px;
	margin-top: 24px;
}


.header-image{
	background-image: url("../image/logo.jpg");
	width: 194px;
	height: 98px;
	margin-right: 46px;
}


.navigation{
	background-color: #333333;
	height: 72px;
}

.navigation ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
}

.navigation ul li {
    float: left;
}

.navigation ul li a {
	color: #fefefe;
	font-size: 21.3px;
	font-weight: 400;
	text-decoration: none;
    display: block;
    text-align: left;
    padding-top: 22px;
    padding-right: 54px;
    box-sizing:border-box;
    height: 72px;

}

.navigation ul li a:hover {
    background-color: #111;
}


.banner-image{
	
	width: 936px;
	height: 336px;
	background-image: url("../image/banner_picture.jpg");
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 84px;
}

.list-header{

	margin-top: 59px;
	margin-bottom: 31px;
	clear: left;
}

.container{
	border-style: solid;
	border-width: 1px;
	border-color: #bdbdbd;
	background-color: rgba(175, 175, 175, 0.03);
	width: 216px;
	height: 312px;
	float: left;
	margin-top: 22px; 
	//margin-right: 24px;
}

.container-image img{
	display: block;
	margin: auto;
	margin-top: 10px;
}

.buttom-view{
	width: 72px;
	height: 36px;
	float: right;
}

.buttom-card{
	width: 108px;
	height: 36px;
	float: left;
}

.description{
	font-size: 16px;
	padding: 10px;
	letter-spacing: -0.64px;
	line-height: 24px;
	text-align: left;
}


input[type=buttom]{
	color: #3c3c3c;
	font-size: 18.7px;
	text-align: center;
    text-decoration: none;
    margin: 4px 2px;
	border-style: solid;
	border-width: 1px;
	border-color:  #aaaaaa;
	background-color:  rgba(171, 214, 188, 0);
	cursor: pointer;

}

input[type=text]{
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	background-color: rgba(168, 168, 168, 0);
	width: 216px;
	height: 28px;

    box-sizing: border-box;
    font-size: 16px;
    background-image: url('../image/searchicon.jpg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.content-row{
	width: 20%;
	float: left;
	text-align: justify;
	margin-right: 25px;
}

.row-footer{
	float: left;
	width: 216px;
}

.smoll-container{
width: 100%;
}

.content-row a{
	color: #3c3c3c;
	font-size: 16px;
	text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 11px;
}

 .content-row a:hover{

	color: #119;

}